body {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  font-size: 27px;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  width: min(400px, 100%);
  border-radius: 35px;
  box-shadow: 1px 1px 7px 0 #000a;
  display: flex;
  flex-direction: column;
}

.name-quote {
  font-size: 35px;
}

.anime-name {
  font-size: 25px;
}

.divBut{
  position: relative ;
  right:-40px ;
  
}

/*Toda la parte del backgorund de la card*/
.backgd {
  background-size: cover;
  background-repeat: no-repeat;
}


.itachi{
  background-image: url("./img/aniyuki-itachi-if-50.gif");
  
}

.naruto{
  background-image: url("./img/naruto.gif");
}